body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hover-play {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

tr #song-index:hover {
	font-family: "Ionicons";
	ion-icon: "ios-play";
    background-color: yellow;
}

